{% extends 'index.html' %}
{% load staticfiles %}


<head>
<title>{% block head_title %}tutorials | django tutorials{% endblock head_title %}</title>
</head>


{% block content %}



    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'img/djangodesktop.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <!--<center><h1>Django</h1></center>-->
                        <!--<center><h3>The Web framework for perfecionists with deadlines.</h3></center>-->


                    </div>
                </div>
            </div>
        </div>
    </header>



    <!-- Tutorial List -->

        <div class="container">
            {% for obj in queryset %}
            <div class="col-sm-4">
                <a href="{{ obj.get_absolute_url }}">
                <div class="thumbnail">
                    {% if obj.photo %}
                    <img src="{{ obj.photo.url }}" class="img-responsive" alt="...">
                    {% endif %}
                </a>
                    <div class="caption">
                        <h3>
                            <div class="post-preview">
                                <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
                            </div>
                        </h3>
                        <h4>By: {{ obj.author }}</h4>
                        <h5>{{ obj.category }}</h5>
                        <p>{{ obj.description|truncatechars:30 }}</p>
                        <a href="{{ obj.get_absolute_url }}" class="btn btn-default" role="button">View</a>
                     </div>
                </div>
            </div>
            {% endfor %}
 </div>
    <hr>



{% endblock %}

